<fieldset [formGroup]="formGroup" class="container">
  <legend>Vehicle form</legend>

  <mat-form-field>
    <mat-select
      data-select-vehicle-type
      placeholder="Select vehicle type"
      [formControlName]="formControlNames.vehicleType"
    >
      <mat-option
        data-select-vehicle-type-option
        *ngFor="let vehicleType of VehicleType | keyvalue"
        [value]="vehicleType.value"
      >
        {{ vehicleType.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div [ngSwitch]="formGroup.controls.vehicleType.value">
    <app-spaceship *ngSwitchCase="VehicleType.SPACESHIP" [subForm]="formGroup.controls.spaceship"></app-spaceship>

    <app-speeder *ngSwitchCase="VehicleType.SPEEDER" [subForm]="formGroup.controls.speeder"></app-speeder>
  </div>
</fieldset>
